
# Generated Silver files
*.jar
build.xml
*.copperdump.html
Parser_*_parse.html

# Compiled Abella files
*.thc

# Output from compiling Abella files
*.out

# Generated stdLib documentation
stdLib/*.md
stdLib/*.html

# Emacs autosave
*~

# Debugging output
abella_dump.thm

# Generated directory
generated/
